[database]
path = "axocare.db"

[temperature]
cooling_off_c = 18.0
cooling_on_c = 18.6
notification_threshold_c = 20.0
target_c = 18.0

[control]
interval_seconds = 60

[camera]
device = "0"
enabled = false
fps = 15
height = 480
jpeg_quality = 80
width = 640

[relay]
active_high = false
pins = [26, 20]

[sensor]
id = ""

[i2c_sensor]
enabled = false
aht20_address = 0x38
bmp280_address = 0x77

[pushover]
app_token = ""
title = "Axocare temperature alert"
user_key = ""
